<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Mark Youngman's Website</title>
      <link rel='stylesheet' type='text/css', href='style.css' />
      <link rel='shortcut icon' href='images/favicon.ico' type='iamges/x-icon' />
   </head>

   <body>
      <div class="wrapper">
         <div class="grid header">
            <h1><a href="index.html" style="text-decoration: none;">Mark Youngman's Website</a></h1>
         </div>

         <div class="grid navbar">
            <ul>
               <li class="active"><a href="index.html">Home</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="archive.html">Archive</a></li>
               <li><a href="http://www.github.com/mmyoungman">GitHub</a></li>
            </ul>
         </div>

         <div class="grid sidebar">
            <h2>About Mark</h2>
            <p>Mark is a software engineer from Sheffield, UK. <a href=about.html>[Read more]</a></p> 

            <h2>Posts</h2>
            {{{postlist}}}
         </div>

         <div class="grid content">
            {{{post}}}
         </div>

         <div class="grid footer">
            <a href="#"><p style="text-align:center">Top</p></a>
         </div>
      </div>
   </body>

</html>
